*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background-color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainbox {
    background-color:cornflowerblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mainbtn {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    background: #cedfff;
    border: 3px solid white;
}


