*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;    
    /* font-family: 'Style Script', cursive; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100rem;
}
.Title {
  font-size: 50px;
  color: blue;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  font-family: 'Style Script', cursive;
}
.para {
  font-size: 30px;
  color: gray;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  /* font-family: 'Style Script', cursive; */
}

.Images {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Images img {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    border: 1px solid gray;
    box-shadow: 0px 0px 1px 3px lightgray;
}
